# packages from the torch index url
-i https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple
# torch
https://download.pytorch.org/whl/cu121/torch-2.5.1%2Bcu121-cp310-cp310-win_amd64.whl#sha256=9b22d6d98aa56f9317902dec0e066814a6edba1aada90110ceea2bb0678df22f
https://download.pytorch.org/whl/cu121/torchvision-0.20.1%2Bcu121-cp310-cp310-win_amd64.whl#sha256=4cb1e44c1f7a4992f6d38a15633a1e694c093f1c52f3a036b1a719968031507a
torcheval
pytorch-ignite
tensorboard
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
absl-py
dearpygui
numpy
pillow
scikit-image
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
kaggle
portalocker[redis]
pyqt6
matplotlib
opencv-python
